<table>
	<thead>
		<tr><th>Case</th><th>Singular</th><th>Plural</th></tr>
	</thead>
	<tbody>
		<tr><td>1. nom.</td><td><span id="nom_sg{{ include.number }}"></span></td><td><span id="nom_pl{{ include.number }}"></span></td></tr>
		<tr><td>2. acc.</td><td><span id="acc_sg{{ include.number }}"></span></td><td><span id="acc_pl{{ include.number }}"></span></td></tr>
		<tr><td>3. ins.</td><td><span id="ins_sg{{ include.number }}"></span></td><td><span id="ins_pl{{ include.number }}"></span></td></tr>
		<tr><td>4. dat.</td><td><span id="dat_sg{{ include.number }}"></span></td><td><span id="dat_pl{{ include.number }}"></span></td></tr>
		<tr><td>5. abl.</td><td><span id="abl_sg{{ include.number }}"></span></td><td><span id="abl_pl{{ include.number }}"></span></td></tr>
		<tr><td>6. gen.</td><td><span id="gen_sg{{ include.number }}"></span></td><td><span id="gen_pl{{ include.number }}"></span></td></tr>
		<tr><td>7. loc.</td><td><span id="loc_sg{{ include.number }}"></span></td><td><span id="loc_pl{{ include.number }}"></span></td></tr>
		<tr><td>8. voc.</td><td><span id="voc_sg{{ include.number }}"></span></td><td><span id="voc_pl{{ include.number }}"></span></td></tr>
	</tbody>
</table>
